<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>closest_beacon_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EEB3BF91DB24AE7005AD2C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EEB3C0D1DB24AE8005AD2C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EEB3C181DB24AE8005AD2C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
